@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<DenKhangThinh.Models.ContactModel>
@{
    var currentPage = Umbraco.Content(Model.PageId);
}
<div class="form-group flex flex-wrap justify-between">
    <div class="form-input w-6/12">
        <input type="text" asp-for="Name" id="Name" placeholder="@Umbraco.GetDictionaryValue("Form.Field.Name")" data-val-required="@Umbraco.GetDictionaryValue("FormField.Validate.Name.Required")" autocomplete="off" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-input w-6/12">
        <input type="text" asp-for="Phone" id="Phone" placeholder="@Umbraco.GetDictionaryValue("Form.Field.Phone")" data-val-required="@Umbraco.GetDictionaryValue("FormField.Validate.Phone.Required")" autocomplete="off" />
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>
    @{
        var formServices = currentPage?.Value<string[]>("formServices");
    }
    @if (formServices != null)
    {
        foreach (var item in formServices)
        {
            <div class="form-input w-6/12">
                <label class="flex flex-wrap items-center">
                    <input type="radio" asp-for="Service" name="Service" value="@item" data-val-required="@Umbraco.GetDictionaryValue("FormField.Validate.Service.Required")" checked="@(formServices.IndexOf(item) == 0)" /> @item
                </label>
            </div>
        }
    }
    <span class="text-danger" asp-validation-for="Service"></span>
    <div class="form-input w-full text-center">
        <button type="button" onclick="ajaxContactFormSubmit()">@Umbraco.GetDictionaryValue("Button.Send")</button>
    </div>
</div>
<input type="hidden" asp-for="CultureLcid" name="CultureLcid" />
<input type="hidden" asp-for="PageId" name="PageId" />